.container-cart .nav-link { text-decoration: none;
    color: rgb(33, 37, 41)
  }

.container-cart .nav-link:hover {
  text-decoration: none;
  color: rgb(33, 37, 41)
}

.container-height {
  min-height: 35rem;
}

.top-title {
  background-color: #f5f5f5;
  padding: 13px;
}